/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS END*/


/* HELPER CLASSES BEGIN */
.left {
    float: left;
}
.right {
    float: right;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
strong,
b {
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
p,
ul li,
ol li {
    font-size: 18px;
    line-height: 24px;
}
/*HELPER CLASSES END*/


/* GENERAL RULES*/
* {
   box-sizing: border-box; 
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #919191;
}
#hero {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero-bg.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero-bg.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	vertical-align: middle;
}
.title {
	text-align: center;
	margin-top: calc((100vh - 100px)/2);
}
h4 {
	display:inline-block; 
	padding: 20px 0;
	font-size: 3.3rem;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	letter-spacing: 1px;
}
.cta-button {
	display: block;
	width: 300px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 15px 25px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #ffffff;	
	-webkit-transition: .3s;	
	transition: .3s;
}
.cta-button:hover {	
	border: 1px solid #2ecc71;
	color: #2ecc71;
	-webkit-transition: .3s;
	transition: .3s
}
#navigation {
	background-color: #252e30;
}
.logo {
	height: 50px;
	margin: 10px 0;
}
.nav li {
	display: inline-block;
	line-height: 70px;
	letter-spacing: 0.5px;
}
.navbar {
	float: right;

}
.nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 500;
	margin-left: 40px;
	-webkit-transition: .3s;
	transition: .3s;
}
.nav li a:hover {
	color: #2ecc71;
	-webkit-transition: .3s;
	transition: .3s;
}
#about {
	background-color: #f2f2f2;
	vertical-align: middle;
}
.my-foto {
	width: 40%;
}
.about-me {
	width: 50%;
	margin-top: 100px;
	margin-left: 100px;
}
h2 {
	font-size: 1.7rem;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #566366;
}
.col-4-hobby p {
	margin-top: 50px;
}
.col-4-hobby {
	width: 33.33%;
	float: left;
	margin: 100px 0;
}
.about-para {
	margin: 40px 0;
}
#skills .container {
	margin: 100px auto;
}
.col-4-skill {
	width: 50%;
}
.skill-dsc {
	padding-right: 30px
}
.skill-dsc p {
	margin-top: 45px;
}
.skill-bars {
	padding-top: 20px;
	padding-left: 30px;
}
h3 {
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #566366;
}
progress {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
	color: #2ecc71;
	border: none;
	height: 20px;
	background: #f2f2f1;
}
.responsive {
	margin-bottom: 0;
}
progress::-webkit-progress-bar {
    background: #f2f2f1;
}
progress::-webkit-progress-value {
    background-color: #2ecc71;
}
progress::-moz-progress-bar {
    background-color: #2ecc71;
}
#portfolio {
	overflow: hidden;
	background-color: #f2f2f1;
	padding-bottom: 100px;
}
#portfolio .container {
	text-align: center;
	margin: 100px auto;
}
#portfolio h2 {
	margin-bottom: 50px;
}
.proj-img {	
	background-size: cover;
	background-position: center;
	width: 33.33%;
	height: 375px;
	float: left;
	border: 2px inset solid #ffffff;
	text-align: center;
	position: relative;
	z-index: 1;
}
.proj-icon {
	margin: 155px 20px;	
	display: none;
}
.proj-img:hover .proj-icon {
	display: inline-block;
}
.hov-color {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2ecc71;
	opacity: 0;
	transition-duration: .3s;
	z-index: -1;
}
.img-1 {
	background-image: url("../img/mobileapp.jpg");
}
.img-2 {
	background-image: url("../img/brochure.jpg");
}
.img-3 {
	background-image: url("../img/proj3.jpg");
}
.img-4 {
	background-image: url("../img/proj4.jpg");
}
.img-5 {
	background-image: url("../img/proj5.jpg");
}
.img-6 {
	background-image: url("../img/proj6.jpg");
}
.proj-img:hover .hov-color {
	background-color: #2ecc71;
	opacity: .75;
}
#contact {
	background-color: #252e30;
}
.contact-head {
	color: #ffffff;
	margin-bottom: 50px;
}
#contact .container {
	padding-bottom: 100px;
	padding-top: 100px; 
	text-align: center;
}
.contact-para {
	letter-spacing: 1px;
}
footer {
	background-color: #191f21;
	color: #4b5456;
	padding: 50px;
	text-align: center;
	text-transform: uppercase;
}